@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
$Gris: #C4C4C4;
$Negro: #252525;
$WG: #DEDEDE;
$Azul: #205EFF;
$HoverAzul: #0034E6;
$Amarillo: #E8B500;
$Rojo: #EB0E00;
$AL: #0094E7;
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

body{

    div #map{
        width: 600px;
        height: 400px;
        position: relative;
    }
    #map { height: 100vh; }
}